*{
	margin: 0;
	padding: 0;
}

:root{

	--bgColor: #000000;
	--primaryColor: #FC21A6 ;
	--colorHover: #7CDBD5;
	--sizeButton: 70px;
	--sizeIcons: 25px;
	--width-content: 230px;
	--heightContent: 230px;
}


body{
	background: var(--bgColor);
	font-size: 18px;
	font-family: candara;';
	position: relative;

}
.main-content{
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;

}
.main-content h1{
	color: color: #FEDC3D;
	font-weight: 300;
	font-size: 3em;
}


.menu-content{
	width: var(--widthContent);
	height: var(--heightContent);
	position: fixed;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
}

.menu-item{
	width: var(--sizeButton);
	height: var(--sizeButton);
	background: var(--primaryColor);
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	position: absolute;
	border-radius: 50%;
	bottom: 80px;
	left: -25px;
	transition: transform 300ms;
	
	
}

.menu-item img{
	width: var(--sizeIcons);
}

.menu-item:hover{
	background: var(--colorHover);
}


#menu{
	z-index: 10
}

.menu-active .menu-item:nth-child(2){
	transform: translateX(70px);
}

.menu-active .menu-item:nth-child(3){
	transform: translateY(-70px);
}
.menu-active .menu-item:nth-child(4){
	transform: translateX(-70px);

}
.card-body {
	background: white;
	width: 300px;
	height: 150px;
	font-family:'Calibri';
	font-size: 18px;

}

#p {
  text-align: center;
  margin: 0;
  text-transform: lowercase;
  font-size: 10pt;
  font-weight: 900;
  width: 50%;
  display: none;
  margin-left: 60px;
	margin-right: 60px;
}

#table {
	display: table;
	width: 100%;
	height: 100%;
	
  
}


#centeralign {
	display: table-cell;
	vertical-align: middle;
}

.block{
text-align:center;

}

.list{
text-align: center;
display:inline-block;

}

#galeria img{

	width: 100%;
	height: 250px;
}

#galeria img:hover {
	border: 6px solid #7CDBD5;

	
}


h2{
	color: #EFE6DC;
	font-family: candara;
	font-size: 30px;
}

h3{
	color:#FC21A6;
	font-size: 25px;
}

h4{
	color:#EFE6DC;
}
h5{
	color: #EFE6DC;
}

ul{
	color: #7CDBD5;
}

footer{
	color:#FC21A6;

}
